@using CourseManagementWebClientWebClient.Data;
@model List<String>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Syllabus Management</h2>
    <p>A Place For You To All Manage Documents.</p>
</div>
<div class="page-main">
    @if (Model == null)
    {
        <img class="landing-img" src="https://i.pinimg.com/564x/7c/90/4c/7c904cbad93c56b56da45696fa1608ee.jpg" />
        <a class="button cta" asp-area="Identity" asp-page="/Account/Register">Get started</a>
        <img class="landing-img" src="https://i.pinimg.com/564x/8d/be/20/8dbe2091b0bbee50cf55fac6bf58f4ab.jpg" />
    }
    else if (Model != null && Model.Contains(Role.SUPERADMIN.ToString()))
    {
        <a class="page-section nav-link text-dark" asp-area="" asp-controller="UserRole" asp-action="Index">
            <img src="https://i.pinimg.com/564x/d1/00/2a/d1002af0c3febbf40978e5dd46283560.jpg" />
            Users Manager
        </a>
        <a class="page-section nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">
            <img src="https://i.pinimg.com/564x/54/bd/cd/54bdcd0bae16e552921de1da891915a5.jpg" />
            Roles Manager
        </a>
    }
    @if (Model != null && (Model.Contains(Role.TEACHER.ToString()) ||
    Model.Contains(Role.STUDENT.ToString())))
    {
        <a class="page-section nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">
            <img src="https://i.pinimg.com/564x/77/84/da/7784da69b381756e3b1a4b9dd1d403eb.jpg" />
            All Course
        </a>
    }
</div>
