@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Role Manager</h1>
<form method="post" asp-action="AddRole" asp-controller="Role">
    <div class="form-floating">
        <input name="roleName" class="form-control w-25" required />
        <label for="roleName" class="form-label">Role name</label>
    </div>
    <span class="input-group-btn">
        <button class="button cta btn btn-info">Add New Role</button>
    </span>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr class="tb-body-item">
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
<div class="empty-state">
    <img src="https://i.pinimg.com/564x/a1/0b/cd/a10bcd7d2e399ac14ea6908281a2bb1a.jpg" />
    <p>Nothing to show!</p>
</div>